<% flash.each do |type, msg| %>
  <div class="alert alert-danger">
    <%= msg %>
  </div>
<% end %>
<h1>TESTE</h1>


<%= form_tag root_path, method: 'get' do%>
<%= label_tag :character_name, 'search for a character_name'%>
<%= text_field_tag :character_name, params[:character_name]%>
<%= submit_tag("character_name", name: nil)%>
<% end %>

<% @comics.each do |comic| %>
<%= comic.id %>
<%= comic.title %>
<image src=<%= comic.image_path %>>
<%= comic.date %>
<% end %>
