<h1>TESTE</h1>


<%# <label for="search">search</label> %>
<%# <input id="search" type="text"/> %>
<%= form_tag root_path, method: 'get' do%>
<%= label_tag :char, 'search for a char'%>
<%= text_field_tag :char, params[:char]%>
<%= submit_tag("char", name: nil)%>
<% end %>

<% @comics.each do |comic| %>
<%= comic.id %>
<%= comic.title %>
<image src=<%= comic.image_path %>>
<%= comic.date %>
<% end %>
