<% flash.each do |type, msg| %>
  <div class="alert alert-danger">
    <%= msg %>
  </div>
<% end %>

<style>
.custom-btn {
  margin-top: 1rem;
  font-weight: bolder;
  color: #e62429;
  width: 10rem
}

.my-image {
  margin-top: 1rem;
  width: 10rem
}

.like-btn {
  background-color: pink
}

.figure:hover .my-image {
  border-bottom: .7rem solid #e62429;
}

.figure:hover .fig-content {
  display: inline
}

.liked-figure .my-image {
  border: .7rem solid #e62429;
}

.liked-figure:hover .fig-content {
  display: inline
}

body {
  background-color: gray;
}

.my-context {
  position: relative
}

.fig-content {
  color: black;
  background-color: white;
  width: 157px;
  display: none
}

</style>

<div class='container my-content'>

  <div class='row row-cols-5'>
    <% @comics.each do |comic| %>
      <div class='col'>
        <figure class="<%= comic.liked ? 'liked-figure' : 'figure'%>">
        <%= image_tag(comic.image_path, alt: comic.title, class: 'img-thumbnail my-image') %>
        <figcaption class='figure-caption fig-content'> <%= comic.title%> </figcaption>
        <div>
          <%= button_to @search.current_url, params: { comic_id: comic.id, liked: !comic.liked, title: comic.title} do%>
        <%= image_tag(comic.liked ? 'heart_on.png' : 'heart_off', alt: comic.title, class: 'fig-btn') %>
              <% end %>

        </div>
        </figure>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <div class='col-3'>
      <a href=<%= @search.previous_page%>  class=' btn btn-light custom-btn'> PREVIOUS PAGE </a>
    </div>
    <div class='col-6'>-</div>
    <div class='col-3'>
      <a href=<%= @search.next_page%>  class=' btn btn-light custom-btn'> NEXT PAGE </a>
    </div>
  </div>
</div>

